{% extends 'Main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col s10 push-s2">
    <br>
    <br>
    <h4 class="header">Edit question</h4>
    <br>
    <br>
    </div>
</div>
{% for edit in edits %}
<form action = "/EditQuestion/{{edit.slug}}/" method="POST"> {% csrf_token %}
<div class ="row">
    <div class="col s10 push-s2">
    <div class="card horizontal hoverable">
      <div class="card-stacked">
        <div class="card-content">
          <div class="row">
            <div class="col s12">
               <div class="row">
                 <div class="input-field col s12">
                 <i class="material-icons prefix">title</i>
                 <input type="text" id="autocomplete-input" value="{{edit.title}}" name="title" class="autocomplete" required>
                   <label for="autocomplete-input">
                    Title : Be specific and imagine you’re asking a question to another person</label>
                 </div>
                   <br>
                   Body : Include all the information someone would need to answer your question
                                {{ form.media }}
                                {{ form }}
                 <br>
                 <div class="input-field col s12">
                 <i class="material-icons prefix">local_offer</i>
                 <input type="text" id="tags_input"  name="tags" class="autocomplete" required>
                   <label for="tags_input">Tags : Add new tags</label>
                 </div>
                 <button class="btn waves-effect waves-light black left pulse" id= "submitanswer" type="submit"><i class="material-icons right">send</i>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div></div>
</div>
</form>
{% endfor %}
<script>
    var chip = {
    tag: 'chip content',
    image: '', //optional
  };
</script>
{% endblock content %}